<h2>My Servers</h2>
<app-server-search 
(sliderStartValueChanged)="onSliderStartValueChanged($event)"
(sliderEndValueChanged)="onSliderEndValueChanged($event)"
(hddTypeValueChanged)="onHddTypeValueChanged($event)"
(checkboxValueChanged)="onRamValueChanged($event)"
(locationValueChanged)="onLocationValueChanged($event)"
(searchButtonClicked)="onSearchButtonClicked()"
(compareButtonClicked)="onCompareButtonClicked()"

></app-server-search>
<div style="width:1024px">
  <table mat-table [dataSource]="servers" class="mat-elevation-z8">
    <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? true : null"
                    [checked]="true"
                    [indeterminate]="true"
                    [aria-label]="'eeeeeeee'">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
      (change)="$event ? selection.toggle(row) : null"
      [checked]="selection.isSelected(row)"
                    [aria-label]="'eeeeeeee'">
      </mat-checkbox>
    </td>
  </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="ram">
      <th mat-header-cell *matHeaderCellDef> Ram </th>
      <td mat-cell *matCellDef="let element"> {{element.ram}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="hdd">
      <th mat-header-cell *matHeaderCellDef> Hdd </th>
      <td mat-cell *matCellDef="let element"> {{element.hdd}} </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>