<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-slider [max]="max" [min]="min" [step]="step" [displayWith]="formatLabel" showTickMarks discrete>
      <input matSliderStartThumb [(ngModel)]="value" (input)="onSliderStartChange()">
      <input matSliderEndThumb [(ngModel)]="value" (input)="onSliderEndChange()">
    </mat-slider>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-form-field>
      <mat-label>Hard Disk Type</mat-label>
      <select matNativeControl name="hddType" [(ngModel)]="hddType" (ngModelChange)="onHddTypeChange()">
        <option value="">Select Hard Disk Type</option>
        <option *ngFor="let availableHddType of availableHddTypes" value="{{availableHddType}}">{{availableHddType}}
        </option>
      </select>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <mat-label>Locations</mat-label>
      <select matNativeControl name="location" [(ngModel)]="location" (ngModelChange)="onLocationChange()">
        <option value="">Select A Location</option>
        <option *ngFor="let availableLocation of availableLocations" value="{{availableLocation}}">
          {{availableLocation}}</option>
      </select>
    </mat-form-field>

  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="spacer"></span>
    <mat-checkbox color="primary" *ngFor="let availableRam of availableRams" (change)="checkboxChanged($event)"
      value="{{availableRam}}">{{availableRam}}
    </mat-checkbox>
  </mat-toolbar-row>
  <mat-toolbar-row class="search-buttons-container"> 
    <button (click)="searchServers()" mat-raised-button  color="accent"> Search</button>
    &nbsp;
    <button (click)="compareServers()" mat-raised-button  color="accent"> Compare</button>
   
   
  </mat-toolbar-row>
 
</mat-toolbar>