.mat-toolbar {
  background-color: #cfcfcf;
  /* Change the color to your desired value */
  color: #ffffff;
  /* Change the text color to your desired value */
}

.mat-mdc-slider {
  width: 100%;
  /* Change the width to your desired value */
}

.search-buttons-container {
  direction: rtl;
  padding: 10px;
}