<h2>Comapre Servers</h2>
<div style="width:1024px">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
           
            <a mat-raised-button href="/" color="accent">< Go Back</a>
        </mat-toolbar-row>
       
    </mat-toolbar>
    <table mat-table [dataSource]="data" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</div>